<div class="container">
  <h2>Login Details Form</h2>
  <form>
    <div class="form-group">
      <label for="text">First Name:</label>
      <input type="text" class="form-control" id="firstname" placeholder="Enter first name" name="firstname" #firstname>
    </div>
    <div class="form-group">
      <label for="text">Last Name:</label>
      <input type="text" class="form-control" id="lastname" placeholder="Enter last name" name="lastname" #lastname>
    </div>
    <div class="form-group">
        <label for="text">Date of Birth:</label>
        <input type="text" class="form-control" id="dob" placeholder="Enter date of birth" name="dob" #dob>
      </div>
    <div class="form-group">
      <label for="email">Phone Number:</label>
      <input type="email" class="form-control" id="phone" placeholder="Enter phone number" name="phone" #phone>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" #email>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" #pwd>
    </div>
    <div class="form-group">
      <label for="text">Address:</label>
      <textarea input type="text" class="form-control" rows="4" cols="50" id="address" placeholder="Enter address" name="address" #address></textarea>
    </div>
    <div class="form-group">
      <label for="text">Pin Code:</label>
      <input type="text" class="form-control" id="pin" placeholder="Enter pin code" name="pin" #pin>
    </div>
         
    <button type="button" class="btn btn-default" (click)="postDetails(firstname.value,lastname.value,dob.value,phone.value,mail.value,pwd.value,address.value,pin.value)" routerLink='/Login'>Submit</button>
  </form>
</div>