<app-header></app-header>
<div class="col-md-2 column productbox">
  <img src="assets/images.jpg" class="img-responsive"><br>
  <div class="producttitle">The Martian</div><br>
  <div class="productprice"><div class="pull-right">
    <a href="#" class="btn btn-danger btn-sm" role="button"routerLink = '/Themartian' rounterLinkActive="active">BUY
    </a>
  </div>
  <div class="pricetext">£2.00</div>
</div>
</div><br>
<p>
  Mark Watney is stranded on the planet of Mars after his crew leaves him behind, presuming him to be dead due to a storm.<br>With minimum supply, Mark struggles to keep himself alive.
</p>

<app-footer></app-footer>