<app-header></app-header>

<div class="col-md-2 column productbox">
    <img src="assets/dunkirk-poster.jpg" class="img-responsive"><br>
    <div class="producttitle">Dunkirk</div><br>
    <div class="productprice"><div class="pull-right">
      <a href="#" class="btn btn-danger btn-sm" role="button"routerLink = '/Dunkirk' rounterLinkActive="active">ADD
      </a>
    </div>
    <div class="pricetext">£2.00</div>
  </div>
</div><br>

<p>
  In May 1940, Germany advanced into France, trapping Allied troops on the beaches of Dunkirk. <br>Under air and ground cover
  from British and French forces, troops were slowly and methodically evacuated from the beach using every serviceable naval
  and civilian vessel that could be found. <br>At the end of this heroic mission, 330,000 French, British, Belgian and Dutch
  soldiers were safely evacuated.
</p>

<app-footer></app-footer>