<app-header></app-header>

<div class="col-md-2 column productbox">
    <img src="assets/download.jpg" class="img-responsive">
    <div class="producttitle">The Dark knight
    </div>
    <div class="productprice">
      <div class="pull-right">
        <a href="#" class="btn btn-danger btn-sm" role="button" routerLink = '/Home' rounterLinkActive="active">ADD
        </a>
      </div>
      <div class="pricetext">£1.50
      </div>
</div><br>
<p>
    After Gordon, Dent and Batman begin an assault on Gotham's organised crime, the mobs hire the Joker, a psychopathic criminal mastermind, who wants to bring all the heroes down to his level.
</p>

<app-footer></app-footer>