<app-header></app-header>

<div class="col-md-2 column productbox">
    <img src="assets/movieposter.jpg" class="img-responsive">
    <div class="producttitle">Seven Years In Tibet</div>
    <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button" routerLink = '/Home' rounterLinkActive="active">ADD</a></div><div class="pricetext">£1.75</div></div>
</div><br>
<p>
    Heinrich Harrer, an Austrian climber, breaks out of prison and travels to the holy city of Lhasa. He is employed as an instructor to the 14th Dalai Lama and soon becomes his close confidante.
</p>

<app-footer></app-footer>
