<app-header></app-header>
<br><div class="col-md-2 column productbox">
        <img src="assets/download.jpg" class="img-responsive">
        <div class="producttitle">The Dark knight</div>
        <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button" routerLink = '/TheDarkKnight' rounterLinkActive="active">BUY</a></div><div class="pricetext">£1.50</div></div>
    </div><br>
    <div class="col-md-2 column productbox">
        <img src="assets/download (1).jpg" class="img-responsive">
        <div class="producttitle">The Dark Knight Rises</div>
        <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button" routerLink = '/TheDarkKnightRises' rounterLinkActive="active">BUY</a></div><div class="pricetext">£1.10</div></div>
    </div><br>
    <div class="col-md-2 column productbox">
        <img src="assets/movieposter.jpg" class="img-responsive">
        <div class="producttitle">Seven Years In Tibet</div>
        <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button" routerLink = '/SevenYearsInTibet' rounterLinkActive="active">BUY</a></div><div class="pricetext">£1.75</div></div>
    </div><br>
    <div class="col-md-2 column productbox">
        <img src="assets/MV5BOTUwODM5MTctZjczMi00OTk4LTg3NWUtNmVhMTAzNTNjYjcyXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UX182_CR0,0,182,268_AL_.jpg" class="img-responsive">
        <div class="producttitle">Se7en</div>
        <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button" routerLink = '/Se7en' rounterLinkActive="active">BUY</a></div><div class="pricetext">£1.10</div></div>
    </div><br>
    <div class="col-md-2 column productbox">
        <img src="assets/dunkirk-poster.jpg" class="img-responsive">
        <div class="producttitle">Dunkirk</div>
        <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button"routerLink = '/Dunkirk' rounterLinkActive="active">BUY</a></div><div class="pricetext">£2.00</div></div>
    </div><br>
    <div class="col-md-2 column productbox">
        <img src="assets/images.jpg" class="img-responsive">
        <div class="producttitle">The Martian</div>
        <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button"routerLink = '/Themartian' rounterLinkActive="active">BUY</a></div><div class="pricetext">£2.00</div></div>
    </div><br>
    
<app-footer></app-footer>






  